@use "../variables" as *;
@use "../mixins" as *;

body {
  background-color: $rosa-claro;
  font-family: $fuente-base;
  font-size: 1.1rem;
  color: #333;

  h1, h2, h3, h4, h5 {
    @extend %bold-rosa;
  }

  img {
    @include rounded-img();
  }

  section {
    @include section-spacing();
  }

  .container {
    @include container-padding();
  }
}
