@use "../variables" as *;

.card {
  .card-title {
    @extend %bold-rosa;
  }

  .card-text {
    font-size: 0.95rem;
  }

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
