@use "../variables" as *;
form {
  max-width: 600px;
  margin: 0 auto;

  input,
  textarea {
    font-size: 1rem;
  }
}

article {
  background: linear-gradient(135deg, $rosa-claro, $rosa-claro-hover);
  transition: background 0.5s ease;
}
