@use "../variables" as *;
@use "../mixins" as *;

.navbar {
  background-color: $bordo !important;

  .nav-link {
    color: #ffffff !important;
    @include transition;

    &:hover {
      color: $rosa-claro-hover !important;
    }
  }
}
